doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description', content='')
        meta(name='author', content='Bayron Carrasco')

        title Portafolio - Bayron Carrasco

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
        <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        

        // Jquery
        script(src='https://code.jquery.com/jquery-3.2.1.js')


    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    div.logo
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') Presentación
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portafolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#conocimientos') Mis conocimientos
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#tecnologias') Mis experiencias
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#tecnologias') Tecnologías

        // Masthead
        header.masthead
            .container.h-100
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.text-white.font-weight-bold Bayron Elías Carrasco Valdés
                        hr.divider-blanco-pre.my-4
                    .col-lg-12.align-self-baseline
                        h3.text-uppercase.text-white.font-weight-bold
                            | Ingeniero en Informática
                        p.bg-c-blanco.font-weight-light.mb-5.mt-5
                            | Desarrollador Front-end especializado en Vue.js, con experiencia en React.js y Next.js. Con conocimientos sólidos en la creación de widgets y componentes CLI, así como en la gestión y administración de contenidos en plataformas CMS como Modyo (8, 9), Liferay (6.2, 7, DXP), Acquia y Drupal 10, DAM, entre otras. Actualmente, ejerzo como Líder Técnico en proyectos de DXP, coordinando equipos y supervisando el desarrollo bajo metodologías ágiles. Cuento con una sólida trayectoria liderando equipos multidisciplinarios (células), fomentando la colaboración, optimizando procesos y promoviendo la innovación en cada proyecto.
                        a.btn.bg-btn-primary.btn-xl0.js-scroll-trigger(href='#about') Saber más

        // About
        section#about.bg-secondary.pt-80.pb-80
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 Presentación
                        hr.divider.light.my-4
                        p.mb-4.bg-c-blanco.text-justify.font-familiy-nunito(style="font-size: 1.1rem")
                            | En la siguiente sección, encontrará los proyectos en los que he participado, tanto en las plataformas DXP Modyo 8 y 9 como en Liferay. Todos estos proyectos son gestionados y administrados a través de los CMS mencionados.<br>Además, incluyo proyectos desarrollados con tecnologías como Vue.js, React.js y Next.js.
                        
                        a.btn.btn-light.btn-xl.js-scroll-trigger(href='#portfolio') Ir a mi Portafolio
                    
        // Portfolio
        section#portfolio.bg-c-blanco.pt-80.pb-80
            .container.p-0
                div.text-center
                    h2.bg-c-negro Portafolio
                    hr.divider-verde-claro.my-4

                    .col-lg-12.col-sm-12.col-xs-12.text-center.pt-3.pb-5
                        a.btn.btn-secondary.btn-xl-2.js-scroll-trigger(href='#conocimientos') Ir a mis conocimientos
                .row.no-gutters
                    .col-lg-4.col-sm-6#contenedor1
                        .card.card-flip
                            .card-front.text-white.bg-c-verde-claro
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Movistar Chile
                                    p.card-text Desarrollo Front End.
                            .card-back.bg-card-back
                                .card-body.link1
                                    h3.card-title Reseña
                                    p.card-text Se realizó desarrollo Front End de Sitio Movistar Empresas y Coporaciones, creación de nuevas landings page y modificación de menú del sitio. Además se implementó menú y footer de forma transversal.
                                    a.btn.btn-outline-secondary#btn0Escritorio(href='assets/img/portfolio/fullsize/Movistar/movistar.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn1Mobile(href='assets/img/portfolio/mobile/movistar-mobile.jpeg')
                                        | Ver imagen referencial
                    .col-lg-8.col-sm-6#contenedor2
                        .card.card-flip
                            .card-front.text-white.bg-secundary
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Movistar Chile
                                    p.card-text Gestión de contenidos.
                            .card-back.bg-c-verde-claro
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Se realizó administración de Sitio Movistar Personas, creación de contenidos administrables con plantillas y estructuras en Liferay 6.2
                                    a.btn.btn-outline-secondary#btn2Escritorio(href='assets/img/portfolio/fullsize/Liferay-6.2/Liferay_control_panel.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn3Mobile(href='assets/img/portfolio/mobile/liferay6.2-1.jpeg')
                                        | Ver imagen referencial
                    .col-lg-8.col-sm-6#contenedor3
                        .card.card-flip
                            .card-front.text-white.bg-secundary
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Intranet Claro chile
                                    p.card-text Gestión de contenidos, administración y desarrollo
                            .card-back.bg-c-verde-claro
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Administración de Sitio Intranet Claro Chile, creación de contenidos administrables mediante plantillas y estructuras en Liferay 7.1. Además de la creación de nuevas landings page.
                                    a.btn.btn-outline-secondary#btn4Escritorio(href='assets/img/portfolio/fullsize/Claro-7.1/Claro.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn5Mobile(href='assets/img/portfolio/mobile/claro-1.jpeg')
                                        | Ver imagen referencial
                    .col-lg-4.col-sm-6#contenedor4
                        .card.card-flip
                            .card-front.text-white.bg-c-verde-claro
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitio Público Banco Central
                                    p.card-text Gestión de contenidos, administración y desarrollo.
                            .card-back.bg-card-back
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Administración de Sitio público Banco Central, creación de contenidos administrables mediante plantillas y estructuras en Liferay 7.1. Además de la modificación de desarrollos back-end (Portlets).
                                    a.btn.btn-outline-secondary#btn6Escritorio(href='assets/img/portfolio/fullsize/Bcentral-7.1/bcentral.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn7Mobile(href='assets/img/portfolio/mobile/banco-central-1.jpeg')
                                        | Ver imagen referencial
                    .col-lg-4.col-sm-6#contenedor5
                        .card.card-flip
                            .card-front.text-white.bg-c-verde-claro
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitio Público Banco Central
                                    p.card-text Migración de contenidos.
                            .card-back.bg-card-back
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Migración de contenidos del sitio antiguo al nuevo sitio público en Liferay 7.1.
                                    a.btn.btn-outline-secondary#btn8Escritorio(href='assets/img/portfolio/fullsize/Bcentral-7.1/bcentral.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn9Mobile(href='assets/img/portfolio/mobile/banco-central-2.jpeg')
                                        | Ver imagen referencial
                    .col-lg-8.col-sm-6#contenedor6
                        .card.card-flip
                            .card-front.text-white.bg-secundary
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitio Banco Central SIID
                                    p.card-text Desarrollo back end.
                            .card-back.bg-c-verde-claro
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Modificación de desarrollos back-end (Portlets) en Liferay 7.1.
                                    a.btn.btn-outline-secondary#btn10Escritorio(href='assets/img/portfolio/fullsize/Bcentral-siid/siid.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn11Mobile(href='assets/img/portfolio/mobile/siid-1.jpeg')
                                        | Ver imagen referencial
                    .col-lg-8.col-sm-6#contenedor7
                        .card.card-flip
                            .card-front.text-white.bg-secundary
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitio Correos chile
                                    p.card-text Gestión de contenidos, administración y desarrollo.
                            .card-back.bg-c-verde-claro
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Administración de Sitio Correos chile, creación de contenidos administrables mediante plantillas y estructuras en en Liferay 7.1.
                                    a.btn.btn-outline-secondary#btn12Escritorio(href='assets/img/portfolio/fullsize/Correos/Correos.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn13Mobile(href='assets/img/portfolio/mobile/correos-1.jpeg')
                                        | Ver imagen referencial
                    .col-lg-4.col-sm-6#contenedor8
                        .card.card-flip
                            .card-front.text-white.bg-c-verde-claro
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitios Parque Arauco Chile
                                    p.card-text Administración y creación.
                            .card-back.bg-card-back
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Administración de Sitio Parque Arauco Chile, creación de snippets con seo base para el sitio, configuración de robots y sitemap en Modyo 8.
                                    a.btn.btn-outline-secondary#btn14Escritorio(href='assets/img/portfolio/fullsize/Modyo-Chile-8/modyo.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn15Mobile(href='assets/img/portfolio/mobile/paruqearaucochile-1.jpeg')
                                        | Ver imagen referencial
                    .col-lg-4.col-sm-6#contenedor9
                        .card.card-flip
                            .card-front.text-white.bg-c-verde-claro
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitios Parque Arauco Perú
                                    p.card-text Administración y creación.
                            .card-back.bg-card-back
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Administración de Sitio Parque Arauco Chile/Perú, creación de snippets con seo base para el sitio, configuración de robots y sitemap en Modyo 8.
                                    a.btn.btn-outline-secondary#btn16Escritorio(href='assets/img/portfolio/fullsize/Modyo-Chile-8/modyo-home.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn17Mobile(href='assets/img/portfolio/mobile/megaplaza-1.jpeg')
                                        | Ver imagen referencial
                    .col-lg-8.col-sm-6#contenedor10
                        .card.card-flip
                            .card-front.text-white.bg-secundary
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitio Mega Plaza Perú
                                    p.card-text Desarrollo y creación
                            .card-back.bg-c-verde-claro
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Creación de landing mil ofertas con widgets vue, sliders y secciones para incrustar html.
                                    a.btn.btn-outline-secondary#btn18Escritorio(href='assets/img/portfolio/fullsize/Modyo-Peru-8/modyo.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn19Mobile(href='assets/img/portfolio/mobile/1000horas-1.jpeg')
                                        | Ver imagen referencial
                    .col-lg-8.col-sm-6#contenedor11
                        .card.card-flip
                            .card-front.text-white.bg-secundary
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitio Banco de Chile (Rutas para Chile)
                                    p.card-text Desarrollo, administración y creación.
                            .card-back.bg-c-verde-claro
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Creación de flujo de registro de tres pasos, con local storage y vue router para los pasos. Al finalizar el paso 3 de inscripción, se crea una entrada mediante la api de contenidos de Modyo 8, una vez que ha sido aprobado el contenido o entrada se publica y se muestra el emprendimiento.
                                    a.btn.btn-outline-secondary#btn20Escritorio(href='assets/img/portfolio/fullsize/Banco-de-chile/rutas-para-chile.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn21Mobile(href='assets/img/portfolio/mobile/rutas-para-chile-mob.png')
                                        | Ver imagen referencial
                    .col-lg-4.col-sm-6#contenedor12
                        .card.card-flip
                            .card-front.text-white.bg-c-verde-claro
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Onboarding Somos Dando
                                    p.card-text Desarrollo administración y creación
                            .card-back.bg-card-back
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Creación de widgets CLI para cada una de las páginas del flujo del onboarding, para el registro de nuevos agentes con el fin de ser asignado al cliente para la futura obtención de un crédito.
                                    a.btn.btn-outline-secondary#btn22Escritorio(href='assets/img/portfolio/fullsize/Somos-dando/agentes.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn23Mobile(href='assets/img/portfolio/mobile/agentes-mobile.png')
                                        | Ver imagen referencial
                    .col-lg-4.col-sm-6#contenedor13
                        .card.card-flip
                            .card-front.text-white.bg-c-verde-claro
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitio Bci Labs
                                    p.card-text Desarrollo, administración y creación.
                            .card-back.bg-card-back
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Creación del nuevo sitio de bci labs, con formularios conectados a base de datos en aws. Los formularios son de postulación, contáctanos y suscripción los cuáles fueron creados con la libreria de vue-validate.
                                    a.btn.btn-outline-secondary#btn24Escritorio(href='assets/img/portfolio/fullsize/Bci-labs/bci-labs.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn25Mobile(href='assets/img/portfolio/mobile/bci-labs-mobile.png')
                                        | Ver imagen referencial
                    .col-lg-8.col-sm-6#contenedor14
                        .card.card-flip
                            .card-front.text-white.bg-secundary
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Sitio Público Pc Factory
                                    p.card-text Desarrollo administración y creación de widgets
                            .card-back.bg-card-back
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Creación de widgets CLI para gestionar toda la capa de compra de productos, incluyendo funcionalidades como añadir al carrito, entre otras. Además, desarrollé widgets utilizando el lenguaje de plantillas Liquid, con el fin de mostrar contenidos que sean administrables desde el sistema de gestión de contenidos.
                                    a.btn.btn-outline-secondary#btn26Escritorio(href='assets/img/portfolio/fullsize/Pc-factory/pcfactory-desktop.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn27Mobile(href='assets/img/portfolio/mobile/pcfactory-mobile.png')
                                        | Ver imagen referencial
                    .col-lg-8.col-sm-6#contenedor15
                        .card.card-flip
                            .card-front.text-white.bg-secundary
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Cámara Chilena de la Construcción
                                    p.card-text Desarrollo de plataforma Trabajo en Obras
                            .card-back.bg-card-back
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Desarrollo de componentes en React utilizando Next.js, con el objetivo de crear componentes reutilizables y escalables. Estos componentes permiten gestionar el flujo de registro de personas y empresas, facilitando la publicación de ofertas laborales. De esta manera, los usuarios finales (personas) pueden acceder a oportunidades de empleo a través de la plataforma.
                                    a.btn.btn-outline-secondary#btn28Escritorio(href='assets/img/portfolio/fullsize/Trabajo-en-obras/trabajo-desktop.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn29Mobile(href='assets/img/portfolio/mobile/trabajo-mobile.png')
                                        | Ver imagen referencial
                    .col-lg-4.col-sm-6#contenedor16
                        .card.card-flip
                            .card-front.text-white.bg-c-verde-claro
                                .card-body
                                    i.fa.fa-plus-square.fa-3x.float-right
                                    h3.card-title Landing Teletón Fortnite Banco de Chile
                                    p.card-text Desarrollo de landing estática.
                            .card-back.bg-card-back
                                .card-body
                                    h3.card-title Reseña
                                    p.card-text Desarrollo de una landing page utilizando un widget CLI en Modyo 9, con el objetivo de crear un formulario de inscripción para los participantes del videojuego Fortnite en apoyo a la Teletón.
                                    a.btn.btn-outline-secondary#btn30Escritorio(href='assets/img/portfolio/fullsize/Banco-de-chile/gamers-desktop.png')
                                        | Ver imagen referencial
                                    a.btn.btn-outline-secondary#btn31Mobile(href='assets/img/portfolio/mobile/gamers-mobile.png')
                                        | Ver imagen referencial
        // Mis Conocimientos
        section#conocimientos.container.pt-80.pb-80
            div.text-center
                h2.bg-c-negro Mis conocimientos
                hr.divider-verde-claro.my-4

                .col-lg-12.col-sm-12.col-xs-12.text-center.pt-3.pb-5
                        a.btn.btn-secondary.btn-xl-2.js-scroll-trigger(href='#experiencias') Ir a mis experiencias
            .row.no-gutters
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo Front End (Html 5)
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Css (scss)
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Bootstrap 4, 5
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Java Script
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Git
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo Front End con Pug - Node
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo widgets Modyo ambiente
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo widgets Modyo CLI
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo Vue.js
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Administración de Sitios Modyo 8 y 9
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Gestión de contenidos Modyo 9
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo y manejo de Plantillas liquid
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Manejo de snippets por defecto y personalizados en ambiente Modyo
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Administración de Sitios Liferay
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Gestión de contenidos Liferay
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo y manejo de Plantillas Freemarker
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Servicio Airtable
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo de componentes reutilizables con React.js.
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo de componentes con Next.js para aplicaciones web modernas.
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo de componentes reutilizables utilizando Tailwind CSS.
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Desarrollo de pipelines en GitHub y Bitbucket, con despliegue de widgets en ambiente Modyo 9.
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Dominio de Flexbox y Grid para la maquetación web.
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Aplicación de buenas prácticas en el uso de cada tecnología.
                    .col-lg-4.col-sm-4.col-xs-12
                        div#contenedorExternoCss
                            div.contenedorInterno
                                h5 Servicios post y get mediante axios, fetch.
        
        // Mis Experiencias
        section#experiencias.container.pt-80.pb-80
            div.text-center
                h2.bg-c-negro Mis experiencias
                hr.divider-verde-claro.my-4

                .col-lg-12.col-sm-12.col-xs-12.text-center.pt-3.pb-5
                        a.btn.btn-secondary.btn-xl-2.js-scroll-trigger(href='#tecnologias') Ir a tecnologías

            .row.no-gutters
                    .col-lg-6.col-sm-6.col-xs-12
                        div#contenedorExternoExp
                            div.contenedorInterno
                                h5 Vass Chile
                                p Cargo: Gestor de Contenidos Liferay
                                p Practica Profesional Mayo - Julio 2018
                    .col-lg-6.col-sm-6.col-xs-12
                        div#contenedorExternoExp
                            div.contenedorInterno
                                h5 Vass Chile
                                p Cargo: Desarrollador front - back end
                                p Agosto 2018 - Noviembre 2021
                    .col-lg-6.col-sm-6.col-xs-12
                        div#contenedorExternoExp
                            div.contenedorInterno
                                h5 2Brains
                                p Cargo: Desarrollador front end Modyo
                                p Diciembre 2021 - Agosto 2022
                    .col-lg-6.col-sm-6.col-xs-12
                        div#contenedorExternoExp
                            div.contenedorInterno
                                h5 2Brains
                                p Cargo: Modyo Expert - Desarrollador front end
                                p Septiembre 2022 - Junio 2024
                    .col-lg-6.col-sm-6.col-xs-12
                        div#contenedorExternoExp
                            div.contenedorInterno
                                h5 2Brains
                                p Cargo: Lider técnico Dxp - Desarrollador front end
                                p Julio 2024 - Actualidad
        // Tecnologías
        section#tecnologias.container-fluid.pt-80
            div.text-center
                h2.bg-c-negro Tecnologías
                hr.divider-verde-claro.my-4
        
        #demo.carousel.slide(data-ride='carousel')
            ul.carousel-indicators
                li.active(data-target='#demo', data-slide-to='0')
                li(data-target='#demo', data-slide-to='1')
                li(data-target='#demo', data-slide-to='2')
                li(data-target='#demo', data-slide-to='3')
                li(data-target='#demo', data-slide-to='4')
                li(data-target='#demo', data-slide-to='5')
                li(data-target='#demo', data-slide-to='6')
                li(data-target='#demo', data-slide-to='7')
                li(data-target='#demo', data-slide-to='8')
                li(data-target='#demo', data-slide-to='9')
                li(data-target='#demo', data-slide-to='10')
                li(data-target='#demo', data-slide-to='11')
                li(data-target='#demo', data-slide-to='12')
                li(data-target='#demo', data-slide-to='13')
            .carousel-inner
                .carousel-item.active
                    div(alt='liferay')
                .carousel-item
                    div(alt='modyo')
                .carousel-item
                    div(alt='boostrap')
                .carousel-item
                    div(alt='html5')
                .carousel-item
                    div(alt='css')
                .carousel-item
                    div(alt='js')
                .carousel-item
                    div(alt='sass')
                .carousel-item
                    div(alt='airtable')
                .carousel-item
                    div(alt='vue')
                .carousel-item
                    div(alt='git')
                .carousel-item
                    div(alt='pug')
                .carousel-item
                    div(alt='react')
                .carousel-item
                    div(alt='next')
                .carousel-item
                    div(alt='tailwind')
            a.carousel-control-prev(href='#demo', data-slide='prev')
                span.carousel-control-prev-icon
            a.carousel-control-next(href='#demo', data-slide='next')
                span.carousel-control-next-icon

        // Scroll to top
        .row
            .col-lg-3.col-xs-12
                button#subirA(onclick='topFunction()', title='Subir')
                    span.subir-top

        //footer    
        div.bg-c-verde-claro.pt-30.pb-30
            .container
                .row
                    .col-lg-4.col-sm-4.text-center
                        p.bg-c-blanco-copyright.font-weight-bold-my-5.text-left.pt-3 ¿Como fue construido el sitio?  

                        .mb-2
                            span.barraProgreso
                                span.item_progreso(itemprop='keywords' aria-label='SCSS 41.7')
                                span.item_progreso(itemprop='keywords' aria-label='HTML 26.6')
                                span.item_progreso(itemprop='keywords' aria-label='Pug 21.8')
                                span.item_progreso(itemprop='keywords' aria-label='JavaScript 9.9')

                        ul.list-style-none
                            div.row
                                div.col-6.col-sm-6
                                    li
                                        a.d-inline-flex.text-small
                                            svg.octicon.octicon-dot-fill(viewbox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
                                                path(fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8z')
                                            span.text-gray-dark.text-bold.mr-1 SCSS 52.4%
                                                       div.row
                                div.col-6.col-sm-6
                                    li
                                        a.d-inline-flex.text-small
                                            svg.octicon.octicon-dot-fill(viewbox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
                                                path(fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8z')
                                            span.text-gray-dark.text-bold.mr-1 HTML 20.5%
                                                        div.row
                                div.col-6.col-sm-6
                                    li
                                        a.d-inline-flex.text-small
                                            svg.octicon.octicon-dot-fill(viewbox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
                                                path(fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8z')
                                            span.text-gray-dark.text-bold.mr-1 Pug 20.4%
                                                        div.row
                                div.col-6.col-sm-6
                                    li
                                        a.d-inline-flex.text-small
                                            svg.octicon.octicon-dot-fill(viewbox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true')
                                                path(fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8z')
                                            span.text-gray-dark.text-bold.mr-1 JavaScript 6.7%
                    .col-lg-4.col-sm-4.text-center
                        div.logo
                    .col-lg-4.col-sm-4.text-center
                        ul
                            li
                                a(href) Menú
                            li
                                a(href='#about') - Presentación
                            li
                                a(href='#portfolio') - Portafolio
                            li
                                a(href='#conocimientos') - Mis conocimientos
                            li
                                a(href='#tecnologias') - Mis experiencias
                            li
                                a(href='#tecnologias') - Tecnologías
                
                .row
                    .col-lg-12.col-sm-12.text-center
                        p.bg-c-blanco-copyright.font-weight-bold-my-5.mx-5.text-center.pt-3 Hora de Santiago de Chile UTC-4 (Hora Oficial)
                        div#reloj
                        p.bg-c-blanco-copyright.font-weight-bold-my-5.mx-5.text-center.pt-3 Sitio creado por: Bayron Carrasco  

        
        // Fecha y hora
        script(src='js/fechayhora.js')
        
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // Scroll to top
        script(src='js/scrollToTop.js')

        // Google Analytics
        //Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-176524885-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-176524885-1');


