// Estilos comunes para el carrusel
$carousel-item-default-size: 100px;
$carousel-item-height: 160px;
$carousel-item-margin-bottom: 50px;
$carousel-item-display: block;
$carousel-item-background-repeat: no-repeat;
$carousel-item-background-position: center;

// Definimos tamaños de fondo específicos para cada imagen
$background-sizes: (
  1: contain,  // liferay.png
  2: contain,  // modyo.png
  3: contain,  // bootstrap.png
  4: contain,  // html5.png
  5: contain,  // css.png
  6: contain,  // js.png
  7: contain,  // sass.png
  8: contain,  // airtable.png
  9: contain,  // vue.png
  10: contain, // git.png
  11: contain  // pug.png
);

@media (min-width: 768px) {    
  div.carousel.slide {
    ul.carousel-indicators {
      margin-top: 20px;

      li {
        background-color: $secondary-color;
        height: 10px;
        border-radius: 11px;

        &.active {
          background-color: $primary-color;
        }
      }
    }

    div.carousel-inner {
      @for $i from 1 to 15 {
        .carousel-item:nth-child(#{$i}) {
          div {
            background: url(../assets/img/img-#{$i}.png);
            width: 100%;
            height: $carousel-item-height;
            background-repeat: $carousel-item-background-repeat;
            background-position: $carousel-item-background-position;
            margin-bottom: $carousel-item-margin-bottom;
            display: $carousel-item-display;

            // Tamaño específico para cada imagen, manteniendo proporciones
            background-size: map-get($background-sizes, $i); 
          }

          div.carousel-caption h3 {
            color: $secondary-color;
          }
        }
      }
    }

    a.carousel-control-prev:hover,
    a.carousel-control-next:hover {
      background-color: $primary-color;
      opacity: 0.2;
      border-radius: 10px;
    }
  }
}

@media (max-width: 767px) {
  ul.carousel-indicators {
    margin-top: 20px;

    li {
      background-color: $secondary-color;
      height: 10px;
      border-radius: 11px;

      &.active {
        background-color: $primary-color;
      }
    }
  }

  div.carousel.slide {
    margin-bottom: 50px;

    div.carousel-inner {
      @for $i from 1 to 15 {
        .carousel-item:nth-child(#{$i}) {
          div {
            background: url(../assets/img/img-#{$i}.png); // Generando la URL dinámicamente
            width: 100%;
            height: $carousel-item-default-size;
            background-repeat: $carousel-item-background-repeat;
            background-position: $carousel-item-background-position;
            margin-bottom: $carousel-item-margin-bottom;
            display: $carousel-item-display;

            background-size: contain;
            padding-top: 56.25%;
            // Tamaño específico para cada imagen, manteniendo proporciones
            background-size: map-get($background-sizes, $i);
          }
        }
      }
    }
  }
}
