section#conocimientos{
    //div.text-center{
        //div.col-lg-12.col-sm-12.col-xs-12.text-center.pt-3.pb-5{

        //}
    //}
    div.row.no-gutters{
        div.col-lg-4.col-sm-4.col-xs-12:nth-child(1){   
            div#contenedorExternoCss{
                width: 98%;
                height: 100px;
                display: flex;
                align-items: center;
                border-top-left-radius: 10px; 
                border-bottom-left-radius: 10px; 
                background-color: $verde-claro;
                margin-top: 5px;  
                div.contenedorInterno{
                    width: 100%;
                    height: 70px;
                    border-left: 5px solid $bg-c-blanco;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                        h5{
                            padding-left: 1rem;
                            margin-bottom: 0rem;
                            color: $bg-c-blanco;
                        }
                }
            }
        }

    }

    div.row.no-gutters{
        div.col-lg-4.col-sm-4.col-xs-12:nth-child(2){  
            div#contenedorExternoCss{
                width: 98%;
                height: 100px;
                display: flex;
                align-items: center;
                background-color: $bg-dark; 
                margin-top: 5px;   
                div.contenedorInterno{
                    width: 100%;
                    height: 70px;
                    border-left: 5px solid $bg-c-blanco;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                        h5{
                            padding-left: 1rem;
                            margin-bottom: 0rem;
                            color: $bg-c-blanco;
                        }
                        p{
                            font-size: 2em;
                            color: $bg-c-blanco;
                        }
                }
            }
        }

    }
    div.row.no-gutters{
        div.col-lg-4.col-sm-4.col-xs-12:nth-child(3){  
            div#contenedorExternoCss{
                width: 98%;
                height: 100px;
                display: flex;
                align-items: center;
                background-color: $verde-claro;
                border-top-right-radius: 10px;  
                border-bottom-right-radius: 10px;  
                margin-top: 5px;  
                div.contenedorInterno{
                    width: 100%;
                    height: 70px;
                    border-left: 5px solid $bg-c-blanco;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                        h5{
                            padding-left: 1rem;
                            margin-bottom: 0rem;
                            color: $bg-c-blanco;
                        }

                }
            }
        }

    }
    div.row.no-gutters{
        div.col-lg-4.col-sm-4.col-xs-12:nth-child(4){  
            div#contenedorExternoCss{
                width: 98%;
                height: 100px;
                display: flex;
                align-items: center;
                background-color: $bg-dark;
                border-top-left-radius: 10px;  
                border-bottom-left-radius: 10px;
                margin-top: 5px;  
                div.contenedorInterno{
                    width: 100%;
                    height: 70px;
                    border-left: 5px solid $bg-c-blanco;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                        h5{
                            padding-left: 1rem;
                            margin-bottom: 0rem;
                            color: $bg-c-blanco;
                        }

                }
            }
        }

    }
    div.row.no-gutters{
        div.col-lg-4.col-sm-4.col-xs-12:nth-child(5){  
            div#contenedorExternoCss{
                width: 98%;
                height: 100px;
                display: flex;
                align-items: center;
                background-color: $verde-claro;
                margin-top: 5px;  
                div.contenedorInterno{
                    width: 100%;
                    height: 70px;
                    border-left: 5px solid $bg-c-blanco;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                        h5{
                            padding-left: 1rem;
                            margin-bottom: 0rem;
                            color: $bg-c-blanco;
                        }

                }
            }
        }

    }
    div.row.no-gutters{
        div.col-lg-4.col-sm-4.col-xs-12:nth-child(6){  
            div#contenedorExternoCss{
                width: 98%;
                height: 100px;
                display: flex;
                align-items: center;
                background-color: $bg-dark;
                border-top-right-radius: 10px;  
                border-bottom-right-radius: 10px;
                margin-top: 5px;  
                div.contenedorInterno{
                    width: 100%;
                    height: 70px;
                    border-left: 5px solid $bg-c-blanco;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                        h5{
                            padding-left: 1rem;
                            margin-bottom: 0rem;
                            color: $bg-c-blanco;
                        }

                }
            }
        }

    }
    div.row.no-gutters{
        div.col-lg-4.col-sm-4.col-xs-12:nth-child(7){  
            div#contenedorExternoCss{
                width: 98%;
                height: 100px;
                display: flex;
                align-items: center;
                background-color: $verde-claro;
                border-top-left-radius: 10px;  
                border-bottom-left-radius: 10px;
                margin-top: 5px;  
                div.contenedorInterno{
                    width: 100%;
                    height: 70px;
                    border-left: 5px solid $bg-c-blanco;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                        h5{
                            padding-left: 1rem;
                            margin-bottom: 0rem;
                            color: $bg-c-blanco;
                        }

                }
            }
        }

    }
    div.row.no-gutters{
        div.col-lg-4.col-sm-4.col-xs-12:nth-child(8){  
            div#contenedorExternoCss{
                width: 98%;
                height: 100px;
                display: flex;
                align-items: center;
                background-color: $bg-dark;
                margin-top: 5px;  
                div.contenedorInterno{
                    width: 100%;
                    height: 70px;
                    border-left: 5px solid $bg-c-blanco;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                        h5{
                            padding-left: 1rem;
                            margin-bottom: 0rem;
                            color: $bg-c-blanco;
                        }

                }
            }
        }

    }
    div.row.no-gutters{
        div.col-lg-4.col-sm-4.col-xs-12:nth-child(9){  
            div#contenedorExternoCss{
                width: 98%;
                height: 100px;
                display: flex;
                align-items: center;
                background-color: $verde-claro;
                border-top-right-radius: 10px;  
                border-bottom-right-radius: 10px;
                margin-top: 5px;  
                div.contenedorInterno{
                    width: 100%;
                    height: 70px;
                    border-left: 5px solid $bg-c-blanco;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                        h5{
                            padding-left: 1rem;
                            margin-bottom: 0rem;
                            color: $bg-c-blanco;
                        }

                }
            }
        }

    }
}