// ======================================
// DARK MODE
// ======================================

body.dark-mode {
    background: #121212;
    color: #f5f5f5;

    @media (max-width: 768px) {
        #mainNav .navbar-brand div.logo {
            background: url("../assets/img/logo/new-logo-negro.png");
            width: 180px;
            height: 55px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: block;
            box-sizing: border-box;
            position: absolute;
            margin-top: -26px;
            filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.15));
        }
    }

    @media (min-width: 768px) {
        #mainNav .navbar-brand div.logo {
            width: 230px;
            height: 90px;
            display: block;
            box-sizing: border-box;
            position: relative;
            filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 8px);
            background: url("../assets/img/logo/new-logo-negro.png") center center / contain no-repeat;
            background-position: center center;
        }
    }

    // ======================================
    // NAVBAR DARK MODE
    // ======================================

        #mainNav {
            background-color: #121212 !important;
            box-shadow: 0 2px 15px rgba(0, 0, 0, .4);

            // Links normales
            .navbar-nav {

                .nav-link {
                    color: #f5f5f5 !important;
                    font-weight: 500;
                    transition: all .3s ease;

                    &:hover {
                        color: $bg-celeste !important;
                    }

                    &:focus {
                        color: $bg-celeste !important;
                    }

                    &.active {
                        color: $bg-celeste !important;
                    }
                }
            }

            // Menú desplegado en mobile
            #navbarResponsive {
                background-color: transparent;

                @media (max-width: 991px) {
                    background-color: #1b1b1b;
                    border-radius: 12px;
                    margin-top: 10px;
                    padding: 15px;
                    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
                }
            }

            // Botón hamburguesa
            .navbar-toggler {
                border: 1px solid rgb(255, 255, 255);

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }

            // Estado scrolleado
            &.navbar-scrolled {
                background-color: #121212 !important;

                .nav-link {
                    color: #fff !important;

                    &:hover {
                        color: $bg-celeste !important;
                    }
                }
            }
        }

        body.dark-mode #mainNav .nav-link.active {
            color: $bg-celeste !important;
            position: relative;
        }
        
        body.dark-mode #mainNav .nav-link.active::after {
            content: "";
            position: absolute;
            left: 15%;
            bottom: -5px;
            width: 70%;
            height: 2px;
            background-color: $bg-celeste;
        }
    // ======================================
    // HERO / MASTHEAD
    // ======================================

    header.masthead {
        background: linear-gradient(
            135deg,
            #0a0f1f 0%,
            $primary-color 50%,
            #0a0f1f 100%
        ) !important;
    }

    .bg-btn-primary {
        background-color: #fff !important;
        color: #0a0f1f !important;
        border: 2px solid #fff;

        &:hover {
            background-color: transparent !important;
            color: #fff !important;
            border: 2px solid #fff;
        }
    }

    .divider-verde-claro {
        border-color: $bg-celeste !important;
        background-color: $bg-celeste !important;
    }

    // ======================================
    // TEXTOS GENERALES
    // ======================================

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    a {
        color: #f5f5f5;
    }

    .bg-c-blanco,
    .bg-c-negro {
        color: #fff !important;
    }

    // ======================================
    // SECCIONES
    // ======================================

    section,
    #about {
        background: #121212 !important;
    }

    // ======================================
    // CARDS
    // ======================================

    .card {
        background: #121212;
        border: 1px solid #333;
    }

    .card-front {
        background: $primary-color !important;
        color: #fff !important;
    }

    .card-back {
        background: linear-gradient(
                to bottom,
                rgba(128, 128, 128, 0.5) 0%,
                rgba(128, 128, 128, 0.5) 100%
            ),
            #04707f !important;

        color: #fff !important;
    }

    // ======================================
    // BOTONES
    // ======================================

    .btn-light {
        background: #333;
        color: #fff;
        border-color: #555;
    }

    // ======================================
    // PROYECTOS INTERNOS
    // ======================================

    #contenedorExternoExp {
        background-color: transparent !important;
    }

    #proyectosInternos {

        .contenedorInterno {
            background-color: $primary-color;
            border-left: 5px solid #fff !important;
            border-radius: 8px;
            padding: 20px;

            h5,
            p {
                color: #fff !important;
            }
        }
    }

    // ======================================
    // TECNOLOGÍAS / CARRUSEL
    // ======================================

    #demo {

        .carousel-item div {
            background-color: #f5f5f5d6;
            border-radius: 16px;
            padding: 20px;
            box-shadow: 0 4px 20px rgba(255, 255, 255, 0.08);
            width: 500px;
            justify-self: center;
        }

        .carousel-indicators li {
            background-color: #fff !important;
        }

        // Mobile
        @media (max-width: 768px) {
            .carousel-item div {
                padding: 0;
                width: auto;
                height: 200px;
                justify-self: initial;
            }
        }
    }

    // ======================================
    // CONTACTARME
    // ======================================
    #contacteme {
        background-color: #000 !important;
        border-color: #fff !important;
        border: 1px solid #fff !important;
    }

    // ======================================
    // FOOTER
    // ======================================

    #footer {
        background-color: #121212 !important;
        border-top: 1px solid #333;
    }
}

// ======================================
// SWITCH DARK MODE
// ======================================

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: $primary-color;
    transition: .4s;

    &:before {
        position: absolute;
        content: "☀️";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        transition: .4s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 14px;
    }

    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}

input:checked + .slider {
    background-color: $bg-celeste;
}

input:checked + .slider:before {
    transform: translateX(26px);
    content: "🌙";
}