div.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $verde-claro;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 2s all;
    opacity: 0;

    .spin {
        border: 8px solid $verde-claro;
        border-top-color: $bg-c-blanco;
        border-radius: 50%;
        width: 6em;
        height: 6em;
        animation: spin 1.2s linear infinite;

        @keyframes spin {
            to {
              transform: rotate(360deg);
            }
          
        }
    }
}

div.loading.show {
    opacity: 1;
}
