// Base styling for the navbar
#mainNav {
    box-shadow: $box-shadow;
    background-color: $white;
    transition: background-color 0.2s ease;
    .navbar-brand {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        color: $black;
        div.logo{
            background: url("../assets/img/logo/new-logo-negro.png");
            width: 270px;
            height: 90px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: block;
            box-sizing: border-box;
            position: relative;
            filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
        }
    }
    button.navbar-toggler.navbar-toggler-right{
        border: 2px solid black;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $black;
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-bold;
                font-size: 0.9rem;
                padding: 0.75rem 0;
                &:hover,
                &:active {
                    color: $gray-900;
                }
                &.active {
                    color: $gray-900 !important;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        // Base styling for the navbar - screen sizes greater than the large breakpoint
        box-shadow: none;
        background-color: transparent;
        .navbar-brand {
            color: $white;
            &:hover {
                color: $secondary;
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $white;
                    padding: 0 1rem;
                    &:hover {
                        color: $grey;
                    }
                }
                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }

        // Navbar styling applied when the page is scrolled
        &.navbar-scrolled {
            box-shadow: $box-shadow;
            background-color: $white;
            div.logo{
            background: url("../assets/img/logo/new-logo-blanco.png");
            width: 230px;
            height: 90px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: block;
            box-sizing: border-box;
            position: relative;
            filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
            }
            .navbar-brand {
                color: $black;
                &:hover {
                    color: $secondary;
                }
            }
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $black;
                        &:hover {
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    #mainNav {
        .navbar-brand {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-bold;
            color: $black;
            div.logo{
                background: url("../assets/img/logo/new-logo-blanco.png");
                width: 180px;
                height: 55px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: block;
                box-sizing: border-box;
                position: absolute;
                margin-top: -26px;
                filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
            }
        }
    }
}