.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 210px;
    margin: 0;
    display: flex;
  }
  
  .col-lg-4.col-sm-6{
    .card.card-flip{
        border: 1px transparent !important;
        padding-left: 3px;
        padding-bottom: 3px;

        .card-front {
            transform: rotateY(0deg);
            border-radius: 20px;

            .card-body{
                h3.card-title{
                    margin-top: 3rem;
                }
                p.card-text {
                    font-size: 0.8rem;
                    text-align: justify;
                }
            }
        }
            
        .card-back {
            transform: rotateY(180deg);
            border-radius: 20px;
            position: absolute;
            top: 0;

            .card-body{
                p.card-text {
                    font-size: 0.8rem;
                    text-align: justify;
                }
            }
        }
    }
    
    .card-flip:hover .card-front {
    transform: rotateY(-180deg);
    }
    
    .card-flip:hover .card-back {
    transform: rotateY(0deg);
    }
}
  
.col-lg-8.col-sm-6{
    .card.card-flip{
        border: 1px transparent !important;
        padding-left: 3px;
        padding-bottom: 3px;

        .card-front {
            transform: rotateY(0deg);
            border-radius: 20px;

            .card-body{
                h3.card-title{
                    margin-top: 3rem;
                }
                p.card-text {
                    font-size: 0.8rem;
                    text-align: justify;
                }
            }
        }
            
        .card-back {
            transform: rotateY(180deg);
            border-radius: 20px;
            position: absolute;
            top: 0;

            .card-body{
                p.card-text {
                    font-size: 0.8rem;
                    text-align: justify;
                }
                a.btn{
                    color: white;
                    background-color: transparent;
                    border-color: white;
                }
                a.btn:hover{
                    color: #3A9583;
                    background-color: white;
                    border-color: white;
                }
            }
        }
    }
    
    .card-flip:hover .card-front {
    transform: rotateY(-180deg);
    }
    
    .card-flip:hover .card-back {
    transform: rotateY(0deg);
    }
}  


@media (max-width: 425px) {
    div#contenedor1  {order: 1; padding-bottom:5px; padding-left:5px; padding-right:8px;}
    div#contenedor2  {order: 2; padding-bottom:5px; padding-left:5px; padding-right:8px;}
    div#contenedor3  {order: 4; padding-bottom:5px; padding-left:5px; padding-right:8px;}
    div#contenedor4  {order: 5; padding-bottom:5px; padding-left:5px; padding-right:8px;}
    div#contenedor5  {order: 3; padding-bottom:5px; padding-left:5px; padding-right:8px;}
    div#contenedor6  {order: 6; padding-bottom:5px; padding-left:5px; padding-right:8px;}
    div#contenedor7  {order: 8; padding-bottom:5px; padding-left:5px; padding-right:8px;}
    div#contenedor8  {order: 7; padding-bottom:5px; padding-left:5px; padding-right:8px;}
    div#contenedor9  {order: 9; padding-bottom:5px; padding-left:5px; padding-right:8px;}
    div#contenedor10 {order: 10; padding-bottom:5px; padding-left:5px; padding-right:8px;}

    .card-flip > div {
        width: 100%;
        height: 220px;
    }
}

//Mobile
@media (max-width: 767px){
    .col-lg-4.col-sm-6{
        .card.card-flip{                
            .card-back {
                .card-body{
                    a#btn0Escritorio{
                        display: none;
                    }
                    a#btn6Escritorio{
                        display: none;
                    }
                    a#btn8Escritorio{
                        display: none;
                    }
                    a#btn14Escritorio{
                        display: none;
                    }
                    a#btn16Escritorio{
                        display: none;
                    }
                }
            }
        }
    }    
}

//Escritorio
@media (min-width: 768px){
    .col-lg-4.col-sm-6{
        .card.card-flip{                
            .card-back {
                .card-body{
                    a#btn1Mobile{
                        display: none;
                    }
                    a#btn7Mobile{
                        display: none;
                    }
                    a#btn9Mobile{
                        display: none;
                    }
                    a#btn15Mobile{
                        display: none;
                    }
                    a#btn17Mobile{
                        display: none;
                    }
                }
            }
        }
    }    
}

//Mobile
@media (max-width: 767px){
    .col-lg-8.col-sm-6{
        .card.card-flip{                
            .card-back {
                .card-body{
                    a#btn2Escritorio{
                        display: none;
                    }
                    a#btn4Escritorio{
                        display: none;
                    }
                    a#btn10Escritorio{
                        display: none;
                    }
                    a#btn12Escritorio{
                        display: none;
                    }
                    a#btn18Escritorio{
                        display: none;
                    }
                }
            }
        }
    }    
}

//Escritorio
@media (min-width: 768px){
    .col-lg-8.col-sm-6{
        .card.card-flip{                
            .card-back {
                .card-body{
                    a#btn3Mobile{
                        display: none;
                    }
                    a#btn5Mobile{
                        display: none;
                    }
                    a#btn11Mobile{
                        display: none;
                    }
                    a#btn13Mobile{
                        display: none;
                    }
                    a#btn19Mobile{
                        display: none;
                    }
                }
            }
        }
    }
}    

