.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 210px;
    margin: 0;
    display: flex;
  }
  
  .col-lg-4.col-sm-6{
    .card.card-flip{
        border: 1px transparent !important;
        padding-left: 3px;
        padding-bottom: 3px;

        .card-front {
            transform: rotateY(0deg);
            border-radius: 20px;

            .card-body{
                h3.card-title{
                    margin-top: 3rem;
                }
                p.card-text {
                    font-size: 0.8rem;
                    text-align: justify;
                }
            }
        }
            
        .card-back {
            transform: rotateY(180deg);
            border-radius: 20px;
            position: absolute;
            top: 0;

            .card-body{
                p.card-text {
                    font-size: 0.8rem;
                    text-align: justify;
                }
            }
        }
    }
    
    .card-flip:hover .card-front {
    transform: rotateY(-180deg);
    }
    
    .card-flip:hover .card-back {
    transform: rotateY(0deg);
    }
}
  
.col-lg-8.col-sm-6{
    .card.card-flip{
        border: 1px transparent !important;
        padding-left: 3px;
        padding-bottom: 3px;

        .card-front {
            transform: rotateY(0deg);
            border-radius: 20px;

            .card-body{
                h3.card-title{
                    margin-top: 3rem;
                }
                p.card-text {
                    font-size: 0.8rem;
                    text-align: justify;
                }
            }
        }
            
        .card-back {
            transform: rotateY(180deg);
            border-radius: 20px;
            position: absolute;
            top: 0;

            .card-body{
                p.card-text {
                    font-size: 0.8rem;
                    text-align: justify;
                }
                a.btn{
                    color: white;
                    background-color: transparent;
                    border-color: white;
                }
                a.btn:hover{
                    color: #3A9583;
                    background-color: white;
                    border-color: white;
                }
            }
        }
    }
    
    .card-flip:hover .card-front {
    transform: rotateY(-180deg);
    }
    
    .card-flip:hover .card-back {
    transform: rotateY(0deg);
    }
}  


@media (max-width: 425px) {
    .card-front.text-white.bg-c-verde-claro:nth-child(1) {
        background-color: #3A9583;
    }
    .card-back.bg-dark:nth-child(1){
        background-color: #343a40;
    }

    .card-front.text-white.bg-dark:nth-child(2) {
        background-color: #343a40 !important;
    }
    .card-back.bg-c-verde-claro:nth-child(2){
        background-color: #3A9583 !important;
    }

    .card-front.text-white.bg-dark:nth-child(3) {
        background-color: #3A9583 !important;
    }
    .card-back.bg-c-verde-claro:nth-child(3){
        background-color: #343a40 !important;
    }
  }