// Variables

//- Override and add to color system

$orange: #f4623a;
$brown: #5c4d42;
$grey: grey;
$black: black;
$rojo: #C43029;
$verde-claro: #3A9583;
$bg-black: black;
$bg-c-blanco: white;

//- Override primary color
$primary: $orange;
$secondary: $verde-claro;

//- Override font system
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;

//- Add custom variables
$navbar-height: 4.5rem;

//- Variables de colores
.bg-black{ background-color: $bg-black;}
.bg-c-blanco{ color: $bg-c-blanco;}
.bg-c-blanco-copyright{ color: $bg-c-blanco;}
.bg-c-negro{ color: $bg-black;}
.bg-c-verde-claro{ background-color: $verde-claro;}
.bg-c-verde{ background-color: $verde-claro;}

//- Variables de Altura
.pt-30{ padding-top: 30px;}
.pt-40{ padding-top: 40px;}
.pt-50{ padding-top: 50px;}
.pt-60{ padding-top: 60px;}
.pt-70{ padding-top: 70px;}
.pt-80{ padding-top: 80px;}
.pt-90{ padding-top: 90px;}
.pt-100{ padding-top: 100px;}

.pb-30{ padding-bottom: 30px;}
.pb-40{ padding-bottom: 40px;}
.pb-50{ padding-bottom: 50px;}
.pb-60{ padding-bottom: 60px;}
.pb-70{ padding-bottom: 70px;}
.pb-80{ padding-bottom: 80px;}
.pb-90{ padding-bottom: 90px;}
.pb-100{ padding-bottom: 100px;}