@media (min-width: 768px) {
    .bg-c-blanco{
        .container{
            div.row{
                div.col-lg-12.col-sm-12{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    .col-lg-6.col-sm-6{
                        display: block;
                        margin: auto;
                        img.img-tecnologias1{
                            width: 40%;
                            float: left;
                        }
                        img.img-tecnologias2{
                            width: 40%;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .bg-c-blanco{
        .container{
            div.row{
                div.col-lg-12.col-sm-12{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    .col-lg-6.col-sm-6{
                        img.img-tecnologias1{
                            width: 60%;
                            display: block;
                            margin: auto;
                        }
                        img.img-tecnologias2{
                            width: 60%;
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}